* {
  margin: 0;
  padding: 0;
}

.header {
  background: greenyellow;
  height: 7vh;
  padding: 20px;
}

.header h1 {
  color: #fff;
  padding-left: 20%;
}

.main-container {
  width: 100%; /* Make the box take the full width of its container */
  max-width: 400px; /* Set a maximum width to avoid stretching on larger screens */
  margin: 20px auto; /* Center the box horizontally with top and bottom margin */
  padding: 20px; /* Add internal spacing inside the box */
  border: 2px solid #333; /* Add a border with a color of your choice */
  box-sizing: border-box; /* Include padding and border in the box's total width and height */
}
.new-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
}

.items h1 {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 10px;
  padding-bottom: 5px;
}

.list-group-item {
  border: 1px solid #524242;
  padding: 5px;
}
