* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  /* height: 500px; */
  display: flex;
  /* flex-direction: column; */
  background-color: #f4f4f4;
  /* Always is on the main axis */
  /* justify-content: end; */
  /* Always on the cross axis */
  /* align-items: start; */
  /* flex-wrap: wrap; */
}

.item {
  /* width: 100px; */
  flex: 1 0 100px;
  /* flex-basis: 300px; */
  height: 100px;
  background: #254de4;
  color: #fff;
  margin: 10px;
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-of-type(1) {
  /* align-self: start; */
  /* flex-basis: 200px; */
  /* flex-shrink: 1; */
}

.item:nth-of-type(2) {
  /* align-self: center; */
  /* flex-grow: 1; */
  /* flex-shrink: 2; */
}

.item:nth-of-type(3) {
  /* align-self: end; */
  /* flex-grow: 2; */
  /* flex-shrink: 3; */
}
